.cards-information {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    &-switch {
      display: flex;
      align-items: center;
      > button {
        margin-right: 20px;
      }
    }
  }
}
