.upload-image {
  display: table;
  margin: 0 auto;
  border: 2px solid #9a9a9a;
  border-style: dashed;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.avatar {
  border-radius: 100px;
}
