@import '../../../scss/index.scss';

.menu-top {
  display: flex;

  button {
    background-color: transparent;
    color: $font-light;
    border: 0;

    &:hover {
      background-color: transparent;
      cursor: pointer;
      color: $primary-color;
      border: 0;
    }
    &:focus,
    &:active {
      background-color: transparent;
      color: $font-light;
      border: 0;
    }
  }

  &__left {
    padding-top: 10px;
    display: flex;
    align-items: center;
    &-logo {
      width: 200px;
      height: 80px;
      padding: 0 10px;
    }

    span {
      color: $font-light;
      font-size: 15px;
      font-weight: bold;
    }
  }
  &__right {
    position: absolute;
    right: 0;
  }
}
