@import 'scss/index.scss';
.post-form {
  text-align: center;
  .ant-form-item {
    margin-top: 20px;
    margin-bottom: 20px;
    .ant-input-prefix {
      color: rgba(0, 0, 0, 0.25);
    }
    .btn-submit {
      width: 100%;
    }
  }
}
