@import '../../../scss/index.scss';
.menu-web-top {
  position: sticky;
  top: 0;
  background-color: $background-dark-web;
  border: 0;
  display: flex;
  align-items: center;

  li {
    border: 0 !important;
    a {
      color: white !important;
      font-weight: bold;

      &:hover {
        color: $primary-color !important;
      }
    }
  }

  &__logo {
    padding: 15px;
    img {
      width: 25px;
    }
  }

  &__login {
    a {
      color: white !important;
      font-weight: bold;

      &:hover {
        color: white !important;
      }
    }
  }
}
