@import '../../../../scss/index.scss';
.courses-list {
  &__course {
    margin-bottom: 50px;
    .ant-card {
      width: 90%;
      border: 0;
      background-color: transparent;
    }
    .ant-card-meta-title {
      color: $font-light;
      font-weight: bold;
      text-align: center;
    }
    .ant-card-meta-description {
      color: $primary-color-dark;
      text-align: center;
    }

    button {
      width: 100%;
      margin-top: 30px;
      background-color: $primary-color-light;
      color: $font-light;
      border: 0;
      font-size: 15px;
      font-weight: bold;
      height: 40px;
      text-transform: uppercase;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}
