@import "../../../scss/index.scss";

.list-users{
  
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
    &-switch{
      display: flex;
      align-items: center;
      > button {
        margin-right: 20px;
      }
    }
  }
  
}