@import "../../../../scss/index.scss";
.posts-list-web{
  margin: 50px 0;
  >h1{
    text-align: center;
    color: $font-light;
    margin: 50px 0;
  }

  .post{
    color: $font-light;
    &__date{
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $primary-color;
      margin-right: 20px;
      border-radius: 5px;
      text-transform: capitalize;
      padding: 5px 5px;
    }

    .ant-list-item-meta{
      display: flex;
      align-items: flex-start;
    }

    .ant-list-item-meta-title{
      a{
        color: $font-light;
        font-size: 20px;
        &:hover{
          color: $primary-color-dark;
        }
      }
    }
  }
}