@import "../../../../scss/index.scss";
.my-info{

  .logo{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    img{
      width: 25px;
    }
    span{
      color: $font-light;
      font-weight: bold;
    }
  }
  h4{
    margin-bottom: 20px;
    color: $primary-color-dark;
  }

  .social-links{
    justify-content: flex-start;
  }
}